
// Use this style for quick editing
@import url('https://fonts.googleapis.com/css?family=Ubuntu');




















//////////////////////////////////////////////////////////////////
// Old - Use as Template /////////////////////////////////////////
//////////////////////////////////////////////////////////////////



$fontsDir: '../../assets/fonts/';

// Days One
@font-face {
  font-family: 'days-one';
  src: url('../../assets/fonts/Days_One/DaysOne-Regular.ttf');
  font-weight: 500;
}

// Orbitron
@font-face {
  font-family: 'orbitron';
  src: url('../../assets/fonts/Orbitron/Orbitron-Medium.ttf');
  font-weight: 500;
}

// Audiowide
@font-face {
  font-family: 'audiowide';
  src: url('../../assets/fonts/Audiowide/Audiowide-Regular.ttf');
  font-weight: 500;
}

// Russo One
@font-face {
  font-family: 'russo-one';
  src: url('../../assets/fonts/Russo_One/RussoOne-Regular.ttf');
  font-weight: 500;
}

// Ubuntu
//@font-face {
//  font-family: 'Ubuntu';
//  src: url("../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
//  font-weight: 500;
//}


