/*******************************************************************************
* Default |
*********/

.home {
  //margin-top: 0rem;
  //background: gray;
  height: 40rem;
  overflow-x: hidden;
}

.home_-_quote {
  min-height: 3rem;
  height: auto;
  margin-top: 10rem;
  background-color: #b2ebf2;
  border-radius: 10px;
  font-family: 'Slackey', 'cursive';
  box-shadow: 0 3px 7px rgba(black, 0.3);
  bottom: 1rem;

  &__img--open,
  &__img--closed {
    position: absolute;
    height: 5rem;
    filter: drop-shadow(0 3px 7px rgba(black, 0.3));
  }

  &__img--open {
    left: -50px;
    top: -30px;
  }

  &__img--closed {
    right: -60px;
    bottom: -20px;
  }


  &__h2 {
    //line-height: 0;
    padding-bottom: 1.5rem;
    vertical-align: middle;
    text-align: center;
    font-family: 'Courgette', 'cursive';
  }

  &__h4 {
    text-align: right;
    font-family: 'Encode Sans', 'sans-serif';
    opacity: 0.7;

    &::before {
      @include pseudo();
      content: '-';
      right: 5px;
      width: inherit;
    }
  }
}

.home_-_button {
  position: absolute;
  bottom: 10px;
  background-color: $secondary-1-clr;
  margin-top: 3rem;
  height: 5rem;
  border-radius: 35px;
  cursor: pointer;
  transition: All 120ms ease;
  box-shadow: 0 5px 0 #ff6600;
  text-decoration: none;
  outline: none;
  border: none;
  line-height: 1rem;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  text-align: center;
  user-select: none;
}

// Active ----------------------------------------------------------------------
#home_-_quote {

}

.home_-_button:active {
  bottom: 5px;
  transition: All 120ms ease;
  box-shadow: none;
}

// Animation -------------------------------------------------------------------

#home_-_quote {
  animation-duration: 0.8s;
}



//.minimize {
//  animation-name: minimize;
//  animation-duration: 3s;
//}
//
//.maximize {
//  animation-name: maximize;
//  animation-duration: 3s;
//}
//
//
//
//@keyframes minimize {
//  from {height: auto;}
//  to {height: 0 !important;}
//}
//
//@keyframes maximize {
//  from {height: 0;}
//  to {height: auto;}
//}

// Vertical Media Query --------------------------------------------------------
@media screen and ( max-height: 600px ) {
  .home {
    margin-top: -6rem;
  }
}


/*******************************************************************************
* XS |
****/

@include mq('xs') {

}



/*******************************************************************************
* SM |
****/

@include mq('sm') {

}



/*******************************************************************************
* MD |
****/

@include mq('md') {
  .home_-_button {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}


/*******************************************************************************
* LG |
****/

@include mq('lg') {
  .home_-_quote {
    margin-top: 9rem;
  }
}

