div.row
   div.col-xs-12.home: div.row
      div.col-offset-2.col-8.home_-_quote
         h2.home_-_open-quote Hello" &quot; &#34;
         h2.home_-_quote__h2
            | Lorem Ipsum "
         h2.home_-_close-quote
