/* PAGES (specific colors for each page)
============================================================================= */

// Light Blue 500
$primary-clr: #00bcd4;

// Orange A400
$secondary-1-clr: #ff9100;

// Indigo A400
$secondary-2-clr: #3d5afe;
