/* PAGES (specific colors for each page)
============================================================================= */
//$home-page-clr: #BDBDBD;
$home-page-clr: #9E9E9E;
$about-page-clr: #3F51B5;
$skills-page-clr: #FFEB3B;
$contact-page-clr: #F44336;
$projects-page-clr: #4CAF50;
