
/*******************************************************************************
* Default |
*********/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.5rem;
  background-color: transparent;
}

.footer_-_social-links {
  i {
    width: 12%;
    margin: 0 1.142857143%;
    text-align: center;
    color: #074d85;
    opacity: 0.5;
    text-shadow: 1px 2px 3px rgba(255,255,255,0.5);
    background-clip: text;
  }
}

.footer_-_detail-1,
.footer_-_detail-2 {
  color: black;
  margin: 0px 0;

  &__h4 {
    color: #074d85;
    text-shadow: 1px 2px 3px rgba(255,255,255,0.5);
    opacity: 0.5;
    background-clip: text;
    font-weight: 900;
  }
}

.footer_-_detail-1 {
  text-align: right;

  i {
    line-height: 1rem;
    color: #074d85;
  }
}

.footer_-_detail-2 {
  text-align: left;

  &::before {
    @include pseudo();
    height: 3rem;
    width: 3px;
    left:0;
    top:10px;
    background-color: rgba(black, 0.3);
    border-radius: 5px;
  }
}


// Layouts ---------------------------------------------------------------------




/*******************************************************************************
* XS |
****/

@include mq('xs') {

}













/*******************************************************************************
* SM |
****/

@include mq('sm') {

}










/*******************************************************************************
* MD |
****/

@include mq('md') {

}













/*******************************************************************************
* LG |
****/

@include mq('lg') {

}

