footer.footer: div.container
    div.row: div.col-12.footer_-_social-links
        each val in ['github','codepen','linkedin-square','envelope-o','briefcase','twitter','facebook-square']
            i.fa.fa-2x(class='fa-' + val aria-hidden='true')

    div.row
        div.col-6.footer_-_detail-1
            h4.footer_-_detail-1__h4
                | Made with a
                |
                i.fa.fa-keyboard-o.fa-2x(aria-hidden='true')
                |
                br
                | by Jeffrey Paulino

        div.col-6.footer_-_detail-2
            h4.footer_-_detail-2__h4
                | A project  from
                br
                | Free Code Camp


















            // DEPRECATED ------------------------------------------------------

            // 9.18.17
            //i.fa.fa-github.fa-3x(aria-hidden='true')
            //i.fa.fa-codepen.fa-3x(aria-hidden='true')
            //i.fa.fa-linkedin-square.fa-3x(aria-hidden='true')
            //i.fa.fa-envelope-o.fa-3x(aria-hidden='true')
            //i.fa.fa-briefcase.fa-3x(aria-hidden='true')
            //i.fa.fa-twitter.fa-3x(aria-hidden='true')
            //i.fa.fa-facebook-square.fa-3x(aria-hidden='true')