
link(rel="stylesheet", href="custom-libs/boot-mod-v1.min.css")
//link(rel="stylesheet", href="custom-libs/cssAnimation.io/cssanimation.min.css")

//- inject:css
link(rel="stylesheet", href="css/master.css")
//- endinject

//script(src="/scripts/analytics.js")