
<!--bower:css-->
<link rel="stylesheet" href="libs/angular-material/angular-material.min.css" />
<link rel="stylesheet" href="libs/animate.css/animate.min.css" />
<link rel="stylesheet" href="libs/components-font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="libs/css-hamburgers/dist/hamburgers.min.css" />
<!--endbower-->