div.row
    header.col-12.header
        div.row: div.col-12.header_-_title
            h1.header_-_title__h1
                | Random Daily Satire
            //h1.col-4.header_-_title__h1 Daily
            //h1.col-4.header_-_title__h1 Satire

        div.row: div.col-12.header_-_horizontal-line

        div.row: div.col-12.header_-_details
            h2.header_-_details
                | A machine that spews inspiration







