
/* Default Class Values
======================*/
// Box
$height: 500px;

// Color & Background
$background-color: black;

// Positioning

// Font & Text
$font-family: 'Arial, Helvetica, sans-serif';
$font-size: 50px;
$color: blue;
$text-align: center;

/*====================*/

